.container{
    padding: 10px 150px;
    margin-left: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    margin-bottom: 35px;
}
nav ul{
    display: flex;
    column-gap: 45px;
    font-family: Arial;
}
nav ul a{
    text-decoration: none;
    color: rgba(105, 89, 89, 0.692);
}
nav ul li{
    list-style-type: none;
}
.homepage-container{
    display: flex;
    column-gap: 30px;
}
.home-img{
    margin-bottom: 15px;
}
#web3{
    width: 720px;
}
.subsection{
    display: flex;
}
.home-heading{
    width: 250px;
    margin-right: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.home-description{
    width: 330px;
    margin-left: 50px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(128, 128, 128, 0.644);
    font-size: 15px;
}
.home-description p{
    margin-bottom: 40px;
}
.btn-secondary{
    color: white;
    background-color: rgb(250, 37, 37);
    border: none;
    padding: 10px 35px;
    font-family: Arial;
}
.New-container{
    background-color: rgb(7, 1, 26);
    color: white;
    width: 320px;
    padding: 0 20px;
    font-family: Arial;
}
.New-container h2{
    color:burlywood;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.New-container p{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
}
.New-container h4{
    margin-top: 30px;
}
.About-container{
    margin-top: 40px;;
    display: flex;
    justify-content: space-between;
    padding-right: 110px;
}
.About{
    display: flex;
    width: 320px;
    column-gap: 15px;
    font-family: Arial;
}
#about-img{
    width: 80px;
    
}
.sub-about-img{
    vertical-align: middle;
}
.sub-about{
    margin-top: -25px;
}
.sub-about h3{
    font-size: 25px;
    color: rgba(128, 128, 128, 0.76);
    margin-bottom: -15px;
}
.sub-about h5{
    font-weight: bolder;
    font-size: 13px;
}
.sub-about p{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.753);
    margin-top: -8px;
}