*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}

.right > ul {
    display: flex;
    column-gap: 45px;
    
}
.right > ul > li {
    list-style: none;
}
.right > ul > li > a{
    text-decoration: none;
}
